<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="#{messages.Adding_a_channel}">Adding a channel...</title>
	<link rel="icon" th:href="@{/images/icon.png}">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css} ">
	<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="my-3 w-75 mx-auto bg-dark text-light">

<th:block th:insert="~{fragments::nav(4)}"></th:block>

<h2 class="my-2" th:text="#{messages.Adding_a_channel}">Adding a channel...</h2>

<form class="my-5 d-flex flex-column align-items-start gap-3"
	  method="post"
	  th:action="@{/channels}"
	  th:object="${channel}">

	<div class="input-group has-validation">
		<div th:class="${#fields.hasErrors('name')?'form-floating is-invalid':'form-floating'}">
			<input class="form-text form-control form-control-lg bg-black text-light"
				   placeholder="blank"
				   th:class="${#fields.hasErrors('name')?
				   'form-control form-control-lg bg-black text-light is-invalid':
				   'form-control form-control-lg bg-black text-light border-0'}"
				   th:field="*{name}"
				   type="text" />
			<label class="form-label" th:for="*{name}" th:text="#{messages.Channel_name}">Channel name</label>
		</div>
		<div class="invalid-feedback"
			 th:if="${#fields.hasErrors('name')}"
			 th:text="${#fields.errors('name').get(0).toString()}"></div>
	</div>

	<div class="input-group has-validation">
		<div th:class="${#fields.hasErrors('description')?'form-floating is-invalid':'form-floating'}">
		<textarea placeholder="blank"
				  style="height: 150px"
				  th:class="${#fields.hasErrors('description')?
				  'form-control form-control-lg bg-black text-light is-invalid':
				  'form-control form-control-lg bg-black text-light border-0'}"
				  th:field="*{description}">
		</textarea>
			<label class="form-label"
				   th:for="*{description}"
				   th:text="#{messages.Channel_description}">Description:</label>
		</div>
		<div class="invalid-feedback"
			 th:if="${#fields.hasErrors('description')}"
			 th:text="${#fields.errors('description').get(0).toString()}"></div>
	</div>

	<input class="btn btn-primary" th:value="#{messages.Submit}" type="submit" />
</form>

<th:block th:insert="~{fragments::footer}"></th:block>

</body>
</html>
