<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="#{messages.Channels}">Channels</title>
	<link rel="icon" th:href="@{/images/icon.png}">
	<th:block th:insert="~{fragments::head}"></th:block>
	<script src="/js/bundle-deleteEntity.js" defer type="module"></script>
	<script src="/js/bundle-showUsersOfChannel.js" defer type="module"></script>
	<script src="/js/bundle-dragNdrop.js" defer type="module"></script>
	<link rel="stylesheet" href="/css/bundle-dragNdrop.css">
</head>
<body class="mx-auto bg-dark text-light">

<th:block th:insert="~{fragments::nav('channels')}"></th:block>

<div class="position-absolute bottom-0 end-0 p-3">
	<div class="toast-container position-static"></div>
</div>

<div class="mx-auto w-75 my-3">
	<table class="table table-dark table-striped table-hover my-5">
		<thead>
		<tr class="table-header">
			<th class="text-nowrap" th:text="#{messages.Channel_name}">Channel name</th>
			<th th:text="#{messages.Channel_description}">Channel description</th>
			<th class="text-nowrap" th:text="#{messages.Upvote_ratio}">Upvote ratio</th>
			<th th:text="#{messages.Posts}">Posts</th>
			<th sec:authorize="hasRole(T(be.kdg.programming5.model.Role).ADMIN.getCode())"></th>
		</tr>
		</thead>
		<tbody id="channels" class="table-group-divider">
		<tr class="" th:each="channel: ${channels}" th:id="'channel_' + ${channel.getChannelID()}">
			<td>
				<a class="text-decoration-none" th:href="@{/channels/{id}(id=${channel.getChannelID()})}"
				   th:text="${channel.getName()}"
				></a>
			</td>
			<td th:text="${channel.getDescription()}"></td>
			<td th:text="${#numbers.formatDecimal(channel.calculateUpvoteRatio(), 1, 2)}"></td>
			<td th:text="${channelService.getPostsCountOfChannel(channel.getChannelID())}"></td>
			<td class="text-center" sec:authorize="hasRole(T(be.kdg.programming5.model.Role).ADMIN.getCode())">
				<button class="btn p-0 delete" type="submit">
					<i class="bi bi-trash text-danger"></i>
				</button>
			</td>
		</tr>
		</tbody>
	</table>

	<article class="visually-hidden card my-3"></article>

	<a class="btn btn-outline-primary" th:href="@{channels/download}"><i class="bi bi-box-arrow-down me-2"></i>Download</a>

	<th:block th:insert="~{fragments::footer}"></th:block>
</div>

</body>
</html>
