<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="${channel.getName()}"></title>
	<link rel="icon" th:href="@{/images/icon.png}">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css} ">
	<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="my-3 mx-3 bg-dark text-light">

<header class="w-75 mx-auto">
	<th:block th:insert="~{fragments::nav(0)}"></th:block>
	<h1 class="mt-5 text-info" th:text="${channel.getName()}"></h1>
	<h3 class="text-secondary" th:text="${channel.getDescription()}"></h3>
	<h5 th:text="${#numbers.formatDecimal(channel.calculateUpvoteRatio(), 1, 2)}"></h5>
</header>
<div class="d-flex flex-row my-5">
	<main class="col-12 col-md-9" th:switch="${#lists.size(channel.getPosts())}">
		<h1 th:case="0">
			<th:block th:text="#{messages.No_posts_yet}">No posts yet!</th:block>
			<i class="ms-2 bi-emoji-dizzy"></i>
		</h1>
		<th:block th:case="*">
			<article class="d-flex flex-row my-3" th:each="post: ${channel.getPosts()}">
				<th:block th:insert="~{fragments::post(${post})}"></th:block>
			</article>
		</th:block>
	</main>

	<aside class="d-none d-md-block mx-3 col-3" th:if="${#lists.size(channel.getUsers())>0}">
		<div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white rounded">
			<span class="d-flex align-items-center flex-shrink-0 p-3 border-bottom fs-5 fw-semibold text-dark"
				  th:utext="#{navbar.Users}"
			>
				<i class="bi-people me-2"></i>
				Users
			</span>
			<ul class="list-group list-group-flush border-bottom rounded-bottom">
				<li class="py-3 list-group-item list-group-item-dark"
					th:each="user: ${channel.getUsers()}"
				>
					<a class="d-flex align-items-center justify-content-between text-decoration-none"
					   th:href="@{/users/{id}(id=${user.getUserID()})}"
					   th:text="${user.getName()}"
					>
					</a>
				</li>
			</ul>
		</div>
	</aside>
</div>

<th:block th:insert="~{fragments::footer}"></th:block>
</body>
</html>
