<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="#{messages.Adding_a_user}">Adding a user</title>
	<link rel="icon" th:href="@{/images/icon.png}">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css} ">
	<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="my-3 w-75 mx-auto bg-dark text-light">

<th:block th:insert="~{fragments::nav(5)}"></th:block>

<h2 class="my-2" th:text="#{messages.Adding_a_user}">Adding a user...</h2>
<form class="my-5 d-flex flex-column align-items-start" method="post" th:action="@{/users}" th:object="${user}">
	<label class="form-label" th:for="name">
		<th:block th:text="#{messages.Username}">Username</th:block>
		<input class="form-control form-control-lg form-text border-0 bg-black text-light"
			   name="name"
			   required
			   th:field="*{name}"
			   th:placeholder="${faker.funnyName().name()}"
			   type="text" />
	</label>
	<label class="form-label mt-3" th:for="birthdate">
		<th:block th:text="#{messages.Birthdate}">Birthdate</th:block>
		<input class="form-control form-control-lg border-0 bg-black text-light"
			   name="birthdate"
			   required
			   style="color-scheme: dark"
			   th:field="*{birthdate}"
			   type="date">
	</label>
	<label class="form-label mt-3" th:for="role">
		<th:block th:text="#{messages.Role}">Role</th:block>
		<select class="form-control form-control-lg border-0 bg-black text-light form-select"
				name="role"
				th:field="*{role}">
			<option th:each="role: ${roles}"
					th:text="${role}"
					th:value="${role}"></option>
		</select>
	</label>

	<input class="btn btn-primary mt-4" type="submit" value="Submit" />
</form>

<th:block th:insert="~{fragments::footer}"></th:block>

</body>
</html>
