<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="#{messages.Users}">Users</title>
	<link rel="icon" th:href="@{/images/icon.png}">
	<script src="/js/bundle-deleteEntity.js" defer type="module"></script>
	<th:block th:insert="~{fragments::head}"></th:block>
</head>
<body class="bg-dark text-light">

<th:block th:insert="~{fragments::nav('users')}"></th:block>

<div class="position-absolute bottom-0 end-0 p-3">
	<div class="toast-container position-static"></div>
</div>

<div class="w-75 my-3 mx-auto">
	<table class="table table-dark table-striped table-hover my-5">
		<thead>
		<tr>
			<th th:text="#{messages.Username}">Username</th>
			<th th:text="#{messages.Role}">Role</th>
			<th th:text="#{messages.Birthdate}">Birthdate</th>
			<th th:text="#{messages.Posts}">Posts</th>
			<th></th>
		</tr>
		</thead>
		<tbody class="table-group-divider">
		<tr th:each="user: ${users}" th:id="'user_' + ${user.getUserID()}">
			<td>
				<a class="text-decoration-none"
				   th:href="@{/users/{id}(id=${user.getUserID()})}"
				   th:text="${user.getName()}">
				</a>
			</td>
			<td th:text="${user.getRole().getDescription()}"></td>
			<td th:text="${user.getBirthdate().format(dateFormatter)}"></td>
			<td th:text="${user.getPostCount()}"></td>
			<td class="text-center">
				<button class="btn p-0 delete" type="submit">
					<i class="bi bi-trash text-danger"></i>
				</button>
			</td>
		</tr>
		</tbody>
	</table>

	<a class="btn btn-outline-primary" th:href="@{users/download}">Download</a>

	<th:block th:insert="~{fragments::footer}"></th:block>
</div>
</body>
</html>
