<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="#{messages.Users}">Users</title>
	<link rel="icon" th:href="@{/images/icon.png}">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
	<script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css} ">
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	<script defer th:src="@{/js/deleteEntity.js}"></script>
</head>
<body class="my-3 w-75 mx-auto bg-dark text-light">

<th:block th:insert="~{fragments::nav(3)}"></th:block>

<table class="table table-dark table-striped table-hover my-5">
	<thead>
	<tr>
		<th th:text="#{messages.Username}">Username</th>
		<th th:text="#{messages.Role}">Role</th>
		<th th:text="#{messages.Birthdate}">Birthdate</th>
		<th th:text="#{messages.Posts}">Posts</th>
		<th></th>
	</tr>
	</thead>
	<tbody class="table-group-divider">
	<tr th:each="user: ${users}" th:id="'user_' + ${user.getUserID()}">
		<td>
			<a class="text-decoration-none"
			   th:href="@{/users/{id}(id=${user.getUserID()})}"
			   th:text="${user.getName()}"
			>>
			</a>
		</td>
		<td th:text="${user.getRole()}"></td>
		<td th:text="${user.getBirthdate().format(dateFormatter)}"></td>
		<td th:text="${userService.getPostsCountOfUser(user.getUserID())}"></td>
		<td class="text-center">
			<button class="btn p-0 delete" type="submit">
				<i class="bi bi-trash text-danger"></i>
			</button>
		</td>
	</tr>
	</tbody>
</table>

<a class="btn btn-outline-primary" th:href="@{users/download}">Download</a>

<th:block th:insert="~{fragments::footer}"></th:block>

</body>
</html>
