/*:root {*/
/*    --background: #0A1A2B;*/
/*    --primary: #E20077;*/
/*    --accenct: #F300F9;*/
/*    --secondary: #626871;*/
/*    --tertiary: #EC7383;*/
/*    --accent-dark: #261A30;*/
/*    --text: #CEBAD3;*/
/*}*/

@font-face {
    font-family: moon;
    src: url(../fonts/moon-20-cufonfonts/Moon2.0-Regular.otf);
}

* {
    font-family: moon, serif;
}
