<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Error</title>
	<link rel="icon" th:href="@{/images/icon.png}">
	<th:block th:insert="~{fragments::head}"></th:block>
</head>
<body class="bg-dark text-light">

<th-block th:insert="~{fragments::nav('error')}"></th-block>

<div class="vh-100 d-flex align-items-center flex-column justify-content-center">
	<h1 style="font-size: 150px" th:text="${status}">Error Code</h1>
	<h3 th:text="${error}">Error</h3>
	<button class="btn btn-dark btn-lg m-5 btn-outline-light btn"
			th:onclick="window.history.back()"
	>
		<i class="bi-caret-left"></i>
		<th:block th:text="#{messages.Go_back}">Go back</th:block>
	</button>
	<th:block th:insert="~{fragments::footer}"></th:block>
</div>
</body>
</html>
