<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>kdGG</title>
	<link rel="icon" th:href="@{/images/icon.png}">
	<script src="/js/bundle-homeUpvotes.js" defer type="module"></script>
	<script src="/js/bundle-bubbles.js" defer type="module"></script>
	<th:block th:insert="~{fragments::head}"></th:block>
</head>
<body class="bg-dark text-light">

<th:block th:insert="~{fragments::nav('home')}"></th:block>

<div class="mx-auto my-3 w-75">
	<main>
		<section class="my-5" th:each="channel: ${channels}">
			<h2>
				<a class="text-info text-decoration-none"
				   th:href="@{/channels/{id}(id=${channel.getChannelID()})}"
				   th:text="${channel.getName()}"
				></a>
			</h2>
			<h4 class="text-secondary" th:text="${channel.getDescription()}"></h4>
			<section class="my-3" sec:authorize="isAuthenticated()">
				<th:block th:each="post: ${channel.getPosts()}" th:insert="~{fragments::post(${post})}"></th:block>
			</section>
			<section class="my-3" sec:authorize="!isAuthenticated()">Log in to see posts!</section>
		</section>
	</main>

	<th:block th:insert="~{fragments::footer}"></th:block>
</div>

</body>
</html>
