<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="#{messages.Session_history}">Session history</title>
	<link rel="icon" th:href="@{/images/icon.png}">
	<th:block th:insert="~{fragments::head}"></th:block>
</head>
<body class="bg-dark text-light">

<th:block th:insert="~{fragments::nav(0)}"></th:block>

<div class="w-75 my-3 mx-auto">
	<h1 th:text="#{messages.Session_history}">Session history</h1>
	<table class="table table-dark table-striped table-hover my-5">
		<thead>
		<tr class="table-header">
			<th>URL</th>
			<th>Timestamp</th>
		</tr>
		</thead>
		<tbody class="table-group-divider">
		<tr th:each="sessionX: ${sessions}">
			<td th:text="${sessionX.getUrl()}"></td>
			<td th:text="${sessionX.getTimestamp().format(dateTimeFormatter)}"></td>
		</tr>
		</tbody>
	</table>
	<th:block th:insert="~{fragments::footer}"></th:block>
</div>


</body>
</html>
